body {
  font-family: Arial;
  background-color: #eaf2ff;
  margin: 0;
}

.contenedor {
  width: 800px;
  margin: 40px auto;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: #315c9b;
}

h2 {
  color: #315c9b;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.producto {
  background-color: #f5f8ff;
  border: 1px solid #d5e0f5;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
}

.producto img {
  width: 180px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.producto p {
  font-size: 18px;
  font-weight: bold;
}

button {
  padding: 9px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #4d7dcc;
  color: white;
}

button:hover {
  background-color: #315c9b;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background-color: #eef3fc;
  border-radius: 6px;
}

.comprar {
  background-color: #35a66f;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
}

.comprar:hover {
  background-color: #278455;
}